<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% if app.user %}
            <div class="mb-3">
                <a href="{{ path('index') }}">HOME</a> |
                {% if role|default(null) %}
                    {% if role == 'ADMIN' %}
                        <a href="{{ path('page1') }}">PAGE 1</a> |
                        <a href="{{ path('page2') }}">PAGE 2</a> |
                    {% elseif role == 'PAGE_1' %}
                        <a href="{{ path('page1') }}">PAGE 1</a> |
                    {% elseif role == 'PAGE_2' %}
                        <a href="{{ path('page2') }}">PAGE 2</a> |
                    {% endif %}
                {% endif %}
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>

            <!--
            <div>
                You are logged in as {{ app.user.username }}
            </div>-->
        {% endif %}


        {% block body %}{% endblock %}
    </body>
</html>
